<p id="notice"><%= notice %></p>

<p>
  <strong>Card type:</strong>
  <%= @card.card_type %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @card.card_number %>
</p>

<p>
  <strong>Verification number:</strong>
  <%= @card.verification_number %>
</p>

<p>
  <strong>Aquisition date:</strong>
  <%= @card.aquisition_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @card.due_date %>
</p>

<p>
  <form class="" action="/report" method="post">
    <strong>Day:</strong>
    <%= select_tag 'day', options_for_select(1..31) %>
    <strong>Month:</strong>
    <%= select_tag 'month', options_for_select(1..12) %>
    <strong>Year:</strong>
    <%= select_tag 'year', options_for_select(2013..2018) %>
    <input type="number" name="card" value="<%= @card.id %>" hidden="true">
    <input type="submit" name="search" value="Search">
  </form>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
